<br/>
<h1><%= @patient.full_name %></h1>
<hr />
<h2>Doctors</h2>
<div>
  <% @patient.doctors.each do |doctor| %>
    <li>
      <%= link_to doctor.full_name, doctor %>
    </li>
  <% end %>
</div>
<br />
<br />
<br />
<%= link_to 'Delete patient', @patient, method: :delete, class: "ui red button inverted" %>