<br/>
<h1 class="bluecolor2">Doctors
<%= link_to 'Add doctor', new_doctor_path, class:"ui basic orange small button right floated" %></h1>
<h4 class="ui header small bluecolor2">Select a Doctor Below</h4>
<hr />
<h2><%= @doctors.length <= 0 ? "No Doctors" : "" %></h2> 
<div class="ui grid">
  <% @doctors.each do |doctor| %>
    <div class="six wide column">
      <%= link_to doctor.full_name, doctor, class:"ui header small bluecolor2" %>
    -
      <%= link_to doctor.specialty, doctor, class:"ui header small orange1" %>
    </div>
  <% end %>
</div>